#nav-menu-bar{
  background-color: rgb(146, 152, 157);
  width: 30vw;
  height: 100vh;
  
}
#title-nav-bar {
  background-color: beige;
  padding: 10px;
}
#user-img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

}
#user-img-div img{
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}