#nav-menu-panel {
  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: rgb(212, 183, 78);
  height: 100vh;
  text-align: start;
  padding: 15px;
}

#nav-menu-panel img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  text-align: center;
}

#nav-menu-panel button {
  width: 90%;
  padding: var(--button-padding);
  border: 0px;
  text-align: start;
  background-color: transparent;
}

.Nav-menu-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 24vw;
  margin: 2px;
  border: 1px black solid;
  background-color: antiquewhite;
}
