.meal-row {
  display: grid;
  padding: 5px;
  text-align: center;
  font-size: 70%;
  color: white;
  grid-template-columns: 10% 30% 30% 30% ;
  align-items: center;
  border-bottom: 2px solid rgba(19, 18, 18, 0.393);
}
.meal-row1 {
  display: grid;
  padding: 5px;
  text-align: center;
  font-size: 100%;
  
  color: rgb(13, 13, 13);
  border-bottom: 1px solid black ;
 
  grid-template-columns: 10% 30% 30% 30% ;
  align-items: center;
}