#order-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 80%;
  max-width: 800px;
  min-height: 300px;
  padding: 10px;
  border: 0px solid black;
  border-radius: var(--border-radius);
  background-color: var(--first-color);
  box-shadow: 0px 0px 2px black;
}

.meal-row {
  display: grid;
  padding: 5px;
  text-align: center;
  font-size: 80%;
  color: white;
  grid-template-columns: 10% 30% 30% 30%;
  align-items: center;
  border-bottom: 2px solid rgba(19, 18, 18, 0.393);
}
.meal-row1 {
  display: grid;
  padding: 5px;
  text-align: center;
  font-size: 100%;
  color: rgb(13, 13, 13);
  border-bottom: 1px solid black;
  grid-template-columns: 10% 30% 30% 30%;
  align-items: center;
  justify-content: center;
}
#title-div1 {
  color: rgb(255, 249, 249);
  background-color: rgb(33, 49, 73);
  font-weight: bold;
}

#order-btn button {
  text-align: center;
  width: 49%;
  margin: 1px;
  padding: 5px;
  background-color: green;
  /* border: 0px; */
  color: white;
}
