
.YourCartinRest{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.div-Yourcart{
    height:100px;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-bottom: 3px solid rgb(211, 190, 190);
}