
.YourCartinRest{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.div-Yourcart{
    height:100px;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-bottom: 3px solid rgb(211, 190, 190);
}
.cartempty{
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.textinYourCart{
    flex-wrap: wrap;
    opacity:0.5;
}
.gotoCheck{
width:320px;
height:80px;
}

/* .imgempty{
width: 300px;
height:800px;
} */