#signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 400;
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  color: black;
  text-align: start;
  background-color: rgba(227, 232, 236, 0.305);
  top: 0;
  left: 0;
  text-align: start;
}

#signup-form-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 55%;
  max-width: 600px;
  min-height: 350px;
  text-align: start;
  padding: 10px;
  border: 0px solid black;
  border-radius: var(--border-radius);
  background-color: var(--first-color);
  box-shadow: 0px 0px 2px black;
  margin-bottom: 40px;
}

#register-username-div {
  display: flex;
  gap: 5px;
  width: 100%;
}
#register-username-div div {
  flex: 1;
  width: 100%;
}

.input {
  width: 100%;
  padding: var(--input-padding);
  border-radius: 8px;
  border: 0.1px solid rgba(0, 0, 0, 0.425);
}

#signup--exit-button {
  position: relative;
  width: 100%;
}
#signup--exit-button button {
  width: fit-content;
  position: absolute;
  right: 0;
  padding: var(--input-padding);
  border: 0;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: red;
  cursor: pointer;
  opacity: 0.5;
}

#signup-button-div button {
  width: 100%;
  padding: var(--input-padding);
  border-radius: var(--border-radius);
  border: 0;
  font-weight: bold;
  cursor: pointer;
}



#signup-button-div {
  width: 100%;
  text-align: start;
}
#signup-form h1 {
  text-align: start;
  color: var(--third-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.667);
  font-size: 200%;
  /*font-size: 200%;*/
}
#signup-form h4 {
  text-align: center;
  color: #323232;
  font-size: 30px;
  direction: ltr;
}
@media all and (max-width: 500px) {
  #signup-form-inner {
    width: 90%;
  }
  #signup-form h1 {
    text-align: start;
    color: var(--second-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
    font-size: 1.5em;
  }
}

#Alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #acbfe063;
  width: 100vw;
  height: 100vh;
  z-index: 30;
}
#Alert div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 40%;
  height: 100px;
  border-radius: 8px;
}
