#selector-div{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5px;
}
#selector-div h3{
    color: black;
    font-size: 90%;
}

#selector-div select {
    color: rgb(255, 254, 254);
    text-align: start;
    padding: 4px;
    margin: 2px;
    background-color: rgb(18, 59, 77);;
    border-radius: 5px;
    border: 0px;
    box-shadow: 1px 1px 1px 0.5px rgb(15, 15, 15);
   
    font-size: 90%;
    cursor: pointer;
  }
 
 
  .user-row img{
    width:100%;
    height: 70px;
    border-radius: 10px;
   
  }
  .user-row button{
    width:100%;
    height: 30px;
    border-radius: 10px;
   
  }