*{
    /* scroll-behavior: unset; */
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.completeOrder{
    display: flex;
    flex-direction: column;
}
.order{
    width: 70vw;
    height: 100vh;
    /* background-color: darkblue; */
    position: relative;
    left:15vw;


    text-align: start;
  
    padding: 40px;
}
.divSummary{
    height: 10vh;
    /* background-color: darkmagenta; */
}
.title{
    display: flex;
    flex-direction: row;

   
}
.title_tow{
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* position: relative;
    left: 30vw; */
}
.items{
    width:40vw;
    background-color: crimson;
}
.mealItems{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.NameMeal{
    width:37vw;
    background-color: rgb(125, 139, 0);
}
.div_return_map{
    display: flex;
    flex-direction: row;
 

}
.insted__div_return_map{
    width:30vw;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: chartreuse;

    position: relative;
    left: 30px;


}
.h3_quntity{
   position:relative; 
   /* left: 40vw; */
}
.h3_price{
    position:relative; 
    /* left: 45vw; */
}
.h3_totalprice{
    position: relative; 
    /* left: 45vw; */
}
.sumprice{
    position: relative;
    left:60vw;
}

/*.....       ..................                ............*/

.location{
    display: flex;
    flex-direction: row;

}
.inputLocation{
    display: flex;
    flex-direction: column;
}
.cityandarea{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.bulidingandStreet{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.Number{
width:35vw;
}
.userPastLocation{
    width: 30vw;
/* background-color: darkgreen; */
}
.imgadress{
    width:50px;
    height: 50px;
}

.div45{
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.iftrue{
    width:180px;
    height: 150px;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selelctadresss{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/*.....       ..................                ............*/