 
#footer-div{
  display: flex;
  max-width:100%;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px black;
  background-color: #262626;
  color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  border-top-left-radius:32px ;
  border-top-right-radius:32px ;
 
}
 

#footer-div h4 {
  padding-top: 10px;
  margin-bottom: 15px;
}
 
#footer-div h2{
  font-weight: bold;
  margin-bottom: 10px;
}
#footer-div h4:hover{
color:orange;
cursor:pointer;
}
 
 
 

