#login-form-email-password-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: var(--input-padding);
    border: 0.2px solid rgba(0, 0, 0, 0.333);
    border-radius:var(--border-radius);
    background-color: var(--first-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.579);
    width: 500px;
    background-color: bisque;
    border-radius: 8px;
   
  }

  .input1{
    width: 100%;
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    border: 0.1px solid rgba(0, 0, 0, 0.425);
    background-color: var(--input-br-color);
    font-size: 14px;
    border-radius: 8px;
  }
 
  .input1:focus{
   outline:0.5px solid var(--second-color);
    
  }

  .input1:hover{
    color: aliceblue;
     
   }
 
  #login-form-email-password-div li{
  text-align: start;
}

  #login-button{
    width: 100%;
    padding: var(--input-padding);
    border: 0.2px solid rgba(0, 0, 0, 0.333);
    border-radius:var(--border-radius);
    background-color:rgba(0, 128, 0, 0.637);
    color: var(--first-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2px;
    
  }
  #login-button-Google{
    width: 100%;
    padding: var(--input-padding);
    border: 0.2px solid rgba(0, 0, 0, 0.333);
    border-radius:var(--border-radius);
    background-color:rgb(58, 68, 61);
    color: var(--first-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2px;
  }

  #login-button-Google:hover{

    opacity: 0.9; 
  }

  #login-button:hover{
    opacity: 0.9; 
  }

  #create-new-account-button{
    width: 100%;
  }

  #login-label{
    font-size: 60px;
  }


  
  #create-new-account-button button{
    width: 100%;
    padding: var(--input-padding);
    border: 0.2px solid rgba(0, 0, 0, 0.333);
    border-radius:var(--border-radius);
    background-color: #ff5a00;
    color: var(--first-color);
    cursor: pointer;
    border-radius: 8px;
  }
  #create-new-account-button button:hover{
    opacity: 0.9;
  }
  
  @media all  and (max-width:500px) {
    
    #login-form-email-password-div {
      width: 90vw;
      
    }
    }