*{
  padding: 0px;
  margin: 0px; 
  box-sizing: border-box; 
}
.App {
  text-align: center;
  
}
:root{
  --first-color: white;
  --second-color: orange;
  --third-color:black;
  --forth-color: rgba(210, 185, 138, 0);
  --input-br-color: #E8F0FE;
  --input-padding:10px;
  --border-radius: 5px;
  --button-padding:5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(5, 5, 5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(7, 13, 70);
}