#employee-form-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    width: 50%;
    max-width: 600px;
    min-height: 350px;
    text-align: start;
    padding: 2px;
    border: 0px solid black;
    border-radius: var(--border-radius);
    background-color: var(--first-color);
    box-shadow: 0px 0px 2px black;
    margin-bottom: 40px;
  }