.RestaurantPage {
    display: flex;
    flex-direction: column;
}

.Allinform {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 193, 193);
}

.Res_One {
    width: 10vw;
}

.Res_two {
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 0);
}
.Res_two_A_A{
    display: flex;
    flex-direction: row;
    background-color: cyan;
}

.Res_two_B{
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
}
.Res_two_B_A{
    background-color: darkred;
}
.Res_three {
    width: 10vw;
}