/* html,body{
    overflow-x: hidden;
   
  } */
.RestaurantPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: linear-gradient(
    var(--first-color),
    rgb(233, 207, 157),
    rgb(253, 252, 251)
  );
}

.NavBarHere {
  height: 10vh;
}

.Allinform {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#info-div {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  min-width: 100%;

  width: 100%;
  border-top: 0.5px solid black;
}
#main-caty-div {
  border-right: 0.5px solid rgb(9, 9, 9);
  width: 100%;
  height: 100vh;
  scroll-snap-align: 0;
  position: sticky;
  top: 10%;
  padding: 5px;
}
#main-caty-div h2 {
  font-size: larger;
}
#caty-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#caty-div div {
  width: 100%;
}
.button {
  width: 100%;
  height: 40px;
  font-size: 80%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(250, 168, 5);
  border-width: 2px;
  border-radius: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
  cursor: pointer;
}
.button:hover {
  letter-spacing: 2px;
}

#meal-details-div {
  position: absolute;
  bottom: 1px;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  text-align: start;
  background-color: rgba(248, 219, 160, 0.96);
  box-shadow: 1px 1px 5px 0px black;
}
#cart-title {
  font-size: 110%;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-shadow: 0px 1px 1px black;
  color: rgb(16, 16, 15);
  text-align: start;
}
#meal-details-div h2 {
  font-size: 110%;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-shadow: 0px 1px 1px black;
  color: rgb(16, 16, 15);
  text-align: start;
}

#meal-details-div h4 {
  text-align: start;
  color: black;
  font-size: 100%;
}
.each-cat-div {
  text-align: start;
  padding-top: 5px;
  padding-left: 10px;
  font-size: larger;
  text-transform: uppercase;
}
#caty-meals {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2%;
  padding: 10px;
}

#rest-meal-div {
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0.5px rgb(12, 8, 0);
  margin-bottom: 10px;
}

#caty-meals img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
#add-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 150%;
  position: absolute;
  background-color: white;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#your-cart-div {
  width: 100%;
  position: sticky;
  height: 100vh;
  scroll-snap-align: 0;
  top: 10%;

}

.All_One_One_map_returndiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  top: 10px;
}

.Allinformation_One {
  text-align: start;
  /* background-color: darkgoldenrod; */
}

.imgLogo {
  width: 40px;
  height: 40px;
  position: relative;
  /* bottom: 40px; */
  /* right: 90px; */
  border-radius: 50px;
}

.textadd {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
  margin-left: 10px;
  /* bottom: 10px; */
  /* left: 20px; */
}

.star {
  width: 25px;
  height: 25px;
  opacity: 0.8;
  font-weight: 500;
}

.location_res {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  left: 15px;
}

.imgback {
  width: 100%;
  height: 200px;
  /* border-radius: 20px; */
}

.textadd22 {
  /* opacity: 0.5; */
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: normal;
  position: relative;
  right: 50px;
  top: 10px;
}

.h4_rest {
  color: #545454;
  font-size: 18px;
  font-weight: normal;
  font-family: UberMoveText, sans-serif;
  margin-left: 90px;
  width: fit-content;
  /* opacity:; */
}

.div_restur_Name {
  position: relative;
  margin-left: 30px;
}

.H1_Name {
  font-size: 310%;
  font-family: UberMove, sans-serif;
  font-weight: 700;
  position: relative;
  margin-left: 10px;
}

.rating {
  font-weight: 500;
  position: relative;
  left: 4px;
}

.Allinformation_One_tow {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
  gap: 45vw;
  width: 100%;
}

.Allinformation_One_tow_one {
  width: 170px;
  height: 60px;
  display: flex;

  text-align: center;
  background-color: rgb(238, 238, 238);
  border-radius: 40px;
}

.G1 {
  /* width:  160px; */
  position: relative;
  top: 5px;
  right: 120px;
  /* background-color:rgb(255,255,255) */
}

.Allinformation_One_tow_tow {
  width: fit-content;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 25px;
  background-color: rgb(238, 238, 238);
  border-radius: 40px;

  position: relative;
}

.h11 {
  width: 200px;
  height: 50px;

  background-color: darkgray;
  display: flex;
  justify-content: center;
  text-align: center;

  color: #000000;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  line-height: 16px;
  font-size: 20px;
}

.div1 {
  display: flex;
  /* flex-direction: column; */
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 10px;
  width: 250px;
  height: 50px;
  font-weight: 500;
  font-size: 30px;
  border-radius: 40px;

  position: relative;
  right: 10px;
}

.div2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* background-color: azure; */
  position: relative;
  left: 10px;
  width: 210px;
  height: 40px;
  font-weight: 500;
  font-size: 30px;
}

.h1h1 {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  left: 30px;
}

.h4h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  font-family: UberMoveText, sans-serif;
  color: #6b6b6b;
  position: relative;
  top: 30px;
  right: 50px;
}

.g4 {
  position: relative;
  right: 40px;
}

.Allinformation_Two {
  width: 100%;
  border-top: 0.5px solid rgb(214, 202, 202);
  display: flex;
  flex-direction: row;
  position: relative;

  gap: 25px;

  scroll-snap-align: 0;
}

/*...........................................*/

.Two-categore_map {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.h1_YourCart {
  height: 2vh;
  position: relative;
  left: 25vw;

  /* position: sticky;
    top:0; */
}

/*,,,,,,,,,,,,,,,,,,,,,,*/
.All_Two_categore_Cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;
  text-align: start;
  font-size: 100%;
  gap: 10px;
  border-right: 1px solid rgb(214, 202, 202);
  position: relative;
  position: sticky;
  top: 0%;
}

.All_Two-categore_map {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* position: sticky;
    top: 0; */
}

.All_Two-categore_map_return {
  flex-wrap: wrap;
  text-align: start;
}

.divButton {
  width: 210px;
  height: 50px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  border-radius: 30px;
}
.divButton:hover {
  box-shadow: 0 0 35px #9aa8b4;
}

a i {
  inset: 0;
  display: block;
  background-color: #1a0000;
}
a i::before {
  content: "";
  position: absolute;

  left: 60%;
  width: 25px;
  height: 1px;
  border: 1px solid rgb(224, 200, 200);
  background-color: rgb(238, 238, 238);
  transition: 0.8s;
}
a:hover i::before {
  width: 35px;
  left: 10%;
  border: 1px solid rgb(139, 128, 128);
  background-color: rgba(148, 148, 148, 0.815);
  /* border: 1px solid rgb(140, 165, 233);
    background-color:  rgb(92, 72, 179); */
}

i::after {
  content: "";
  width: 25px;
  height: 1px;
  position: absolute;
  /* top: 0px; */
  left: 10%;

  border: 1px solid rgb(224, 200, 200);
  background-color: rgb(238, 238, 238);
  transition: 0.8s;
}
a:hover i::after {
  width: 35px;
  left: 60%;
  border: 1px solid rgb(139, 128, 128);
  background-color: rgba(148, 148, 148, 0.815);
  /* border: 1px solid rgb(140, 165, 233);
    background-color:  rgb(92, 72, 179); */
}

/* start   test                           sssssssssssssssssssssssssssssssssss */
/* a{
    color: #000;


    
    font-size:20px;
    text-decoration: none;
  
    
    transition: 0.5s;
} */
/* a:hover{
letter-spacing: 2px;
background: #1e9bff;
color: #1e9bff;
box-shadow: 0 0 20px #1e9bff;
} */
/* a::before{
    content:"";
background: #000;
  
    
} */

/* a span{
    background-color: #545454;
    position: relative;
    z-index: 1;
} */
/* a i{
    inset: 0;
    display: block;
    background-color: #1a0000;
}
a i::before{
    content: "";
    position:absolute;
    top: 2px;
    left: 50%;
    width: 5px;
    height: 1px;
    border: 1px solid rgb(146, 43, 43);
    background-color: #000000;
    transition: 0.8s;
}
a:hover i::before{
    width: 1px;
    left: 20%;

} */

/* a i::after{
    content: "";
    position: absolute;

    left: 20%;
    width: 8px;
    height: 2px;
    border: 2px solid rgb(146, 43, 43);
    background-color: #000000;
    transition: 0.5s;
}
a:hover i::after{
    width: 20px;
    left: 50%;

} */

/*end ...........test ...............               eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/

.All_Two-menue {
  width: 65vw;
  /* width: 20vw; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: relative;

  /* background-color: aquamarine; */
}

.div_Mealloop_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.a_atAll {
  /* background-color: rgb(226,226,226); */
  /* height: 12vh;
    width: 12vw; */
  text-align: start;
  font-size: 110%;
  /* font-size: large; */
  font-style: normal;
  color: #000;
}

.div_Mealloop_One {
  margin: 0%;
  padding: 0%;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;

  gap: 20px;
}

.divNameandPriceeach {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  /* gap:100px; */
  position: relative;
  top: 10px;
}

.div_Mallloop_2 {
  height: 280px;
  /* background-color: crimson; */
  border-width: 1px;
  border-style: outset;
}

.h2andh4 {
  opacity: 0.9;
}

.imgbox {
  width: 16vw;
  height: 30.2vh;
  overflow: hidden;
}

.eachMealimg {
  width: 15.8vw;
  height: 30vh;
  transition: 0.5s ease-in-out;
}

.imgbox:hover .eachMealimg {
  transform: scale(1.1);
}

.PluseIcone {
  width: 35px;
  height: 50px;
  position: relative;
  bottom: 250px;
  left: 190px;
}

.h1_category_Name {
  margin: 0%;
  padding: 0%;
  font-size: xx-large;

  right: 32vw;
}

.details {
  font-size: xx-large;

  right: 35vw;
}

.All_Two_cart {
  width: 322px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* background-color: blue; */

  position: relative;
  right: 15px;
  bottom: 25vh;
  position: sticky;
  top: 0;
  border-left: 1px solid rgb(214, 202, 202);
}

.Your_cart_h1 {
  font-size: 30px;
}

/* ..     Counter Your cart........................*/

.iconesCounter {
  width: 25px;
  height: 60px;
}

.Name_andP {
  width: 180px;
  gap: 30px;

  /* background-color: darkgreen; */
}

/*-----EEEend-----*/

/* .Res_two_A_A{
    display: flex;
    flex-direction: row;
    background-color: cyan;
}

.Res_two_B{
    display: flex;
    flex-direction: row;
  

.Res_two_B_A{
    width: 10vw;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    

}
.Res_two_B_A_first{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border:inset #f0fff8
}
.Res_two_B_A_One{
    display: flex;
    flex-direction: column;
    gap:30px
}
.a_atAll{
    font-size: xx-large;
    color: #000;
}
.Res_two_B_B{
    width: 60vw;

}
.Res_two_B_c{
    width: 20vw;
  
}

.Res_two_B_c_One{
    display: flex;
    flex-direction: column;
    border:solid chocolate;
}
.Res_three {
    width: 10vw;
}
.div_Mallloop_1{
    display: flex;
    flex-direction: row;
}

.div_Mallloop_2{
    display: flex;
    flex-direction: row;
    background-color: darksalmon;
}

/* .imagetest{
    width: 200px;
    height: 250px;
}

.imagetest:hover{
    width: 200px;
    height: 250px;

    transform: scale(1.3);
} */

/* 
html{
    scroll-behavior: auto;
}   */
