.RestaurantPage {
    display: flex;
    flex-direction: column;
}

;

.Allinform {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

;

.Allinformation {
    /* position:relative;
    top:10px; */
}

.All_One_One_map_returndiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 10px;
}

.All_One_map {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.imgLogo {
    width: 120px;
    height: 120px; 
     position: relative;
    left: 100px;
    bottom: 60px;
    border-radius: 55px; 
    /* background-color:salmon blue; */
}

.imgback {
    width: 90vw;
    height: 55vh;
}












/*-----EEEend-----*/

/* .Res_two_A_A{
    display: flex;
    flex-direction: row;
    background-color: cyan;
}

.Res_two_B{
    display: flex;
    flex-direction: row;
  

.Res_two_B_A{
    width: 10vw;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    

}
.Res_two_B_A_first{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border:inset #f0fff8
}
.Res_two_B_A_One{
    display: flex;
    flex-direction: column;
    gap:30px
}
.a_atAll{
    font-size: xx-large;
    color: #000;
}
.Res_two_B_B{
    width: 60vw;

}
.Res_two_B_c{
    width: 20vw;
  
}

.Res_two_B_c_One{
    display: flex;
    flex-direction: column;
    border:solid chocolate;
}
.Res_three {
    width: 10vw;
}
.div_Mallloop_1{
    display: flex;
    flex-direction: row;
}

.div_Mallloop_2{
    display: flex;
    flex-direction: row;
    background-color: darksalmon;
}

/* .imagetest{
    width: 200px;
    height: 250px;
}

.imagetest:hover{
    width: 200px;
    height: 250px;

    transform: scale(1.3);
} */


/* 
html{
    scroll-behavior: auto;
}   */