#restaurants-div {
  display: grid;
  width: 100%;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 1.1%;
}
#rest-card-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  box-shadow: 0px 0px 3px 1px var(--third-color);
  height: 220px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
#rest-card-div:hover {
  transform: scale(1.1);
  z-index: 10;
}

#rest-card-div img {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 180px;
  margin: 2px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 10px;
}
#rest-card-div h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1em;
  text-shadow: 0px 0px 0.5px black;
}

.first-restaurant-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  height: 100vh;
  background: linear-gradient(
    var(--first-color),
    rgb(233, 207, 157),
    rgb(243, 177, 54)
  );
}

.Continert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  gap: 20px;
}
.Continer_A {
  border-bottom: 3px solid var(--third-color);
}
.Continer_A_A {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20px;
  text-align: start;
}
.imgCategory {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  position: relative;
  left: 15px;
  cursor: pointer;
}
.imgCategory:hover {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  transform: scale(1.1);
}
.DivimgCategory {
  width: 100px;
  border-radius: 50px;
}
.DivimgCategory:hover {
  width: 100px;
  background-color: var(--second-color);
  border-radius: 50px;
  transform: scale(1.1);
}
.h3h3NameCategory {
  margin-top: 5px;
  text-align: center;
}
